version: '3.8'

services:
  seq:
    image: datalust/seq
    container_name: seq
    restart: unless-stopped
    environment:
      ACCEPT_EULA: 'Y'
      SEQ_FIRSTRUN_ADMINPASSWORD: '123qwe'
    volumes:
      - .seg:/data
    ports:
      - '5341:80'